[Desktop Entry]
Version=1.0
Type=Application
Name=Nautilus by D3PSI
Comment=The complete graphics engine
Exec=/usr/bin/nautilus/nautilus
Icon=/usr/bin/nautilus/res/images/icons/nautilus-32-32.png
Path=/usr/bin/nautilus
Terminal=false
StartupNotify=false