version: 2

jobs:
  build:
    docker:
      - image: "debian:stretch"
    steps:
      - checkout
      - run:
          name: Install dependencies	
          command: bash nautilus-install.sh --no-build
      - run:
          name: Build
          command: bash nautilus-install.sh